body{
  background:skyblue;
  animation:changecolor 10s linear infinite;
}
@keyframes changecolor {
  0% {background:skyblue}
  50%{background:lightgreen}
  100%{background:skyblue}
}
h1{
  font-family:'billabongregular';
  text-align: center;
  font-size:100px;
  color:green;
}
.gameboard{
  height:250px;
  width:250px;
  display:inline-block;
}
.cell{
  float:left;
  height:50px;
  width:50px;
  background-color: orange;
  outline:1px solid green;
}
.mice{
  float:left;
  height:50px;
  width:50px;
  background-color: green;
  outline:1px solid green;
  animation:shake 1s linear 0s 1;
}
.miss{
  float:left;
  height:50px;
  width:50px;
  background-color: orange;
  outline:1px solid green;
  animation:shake2 0.1s linear 0s 1;
}
.hit{
  float:left;
  height:50px;
  width:50px;
  background-color: orange;
  outline:1px solid green;
  animation:shake3 0.1s linear 0s 1;
}

#info{
  position:fixed;
  bottom:50px;
  left:50px;
  opacity:1;
}
@media screen and (max-width:768px){
  h1{
    font-size:50px;
  }
  #info{
    bottom:5px;
    left:0px;
  }
}
@keyframes shake{
  from{background-color:orange}
  to{background-color:green}
}
@keyframes shake2{
  from{background-color:orange}
  to{background-color:black}
}
@keyframes shake3{
  from{background-color:green}
  to{background-color:red}
}

@font-face {
    font-family: 'billabongregular';
    src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot');
    src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff') format('woff'),
         url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf') format('truetype'),
         url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
